@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;

}
.banner{
    height: 100px;
    background: url('./images/photo-9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.navbar {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.navbar .content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.6rem 1rem;

}

.navbar .content .logo {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.navbar .content .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.navbar .content .navigation a {
    font-size: 16px;
    color: #444;
}

.navbar .content .buttons {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.navbar .content .buttons button {
    font-size: 18px;
    color: #444;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.6rem 1rem;

}

.container .latests {
    width: 100%;
    display: grid;
    gap: 1rem;

}

.container .latests .post {
    position: relative;
    width: 100%;
    background-color: #fafafa;
    color: #444;
    padding: 1.6rem 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container .latests .post .user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.container .post .right {
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    right: 0rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
}

.container .post .right .btn-more {
    padding: 0.75rem 0.2rem;
    border-radius: 5px;
    border: none;
    min-width: 140px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: rgba(1, 93, 3, 0.708);
    cursor: pointer;
}


.container .post .btns-nav {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #fff;
    font-size: 12px;
    padding: 0.5rem 0.2rem;
}

.container .post .btns-nav span {
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #eee;
}

.container .post .btns-nav i {
    padding: 5px;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
}

.home .container .items .item {
    width: 100%;
    grid-column: span 2;

}


.home .container .item:nth-child(1) {
    width: 100%;
    grid-column: span 4;
    background-color: #f1f1f1;
}


.home article {
    background-color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
}

.home article .a-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0rem 0rem;
    height: 40px;
}

.home article .a-tags .tag {
    padding: 0.5rem 1rem;
    background-color: #eee;
    font-size: 12px;
    line-height: 12px;
    color: #777;
    border-radius: 10px;
}

.home article .a-title {
    font-size: 32px;
    color: #333;
}

.home article .a-details {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 1rem;
    font-size: 14px;
    padding: 0.5rem 0rem;
    color: #777;
}

.home article .a-image {
    width: 100%;
    height: 550px;
    overflow: hidden;
    padding: 2rem 0rem;
}

.home article .a-image img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}


.home article .a-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0rem;
}

.home article .a-body p {
    font-size: 16px;
    line-height: 23px;
    color: #222;
}

.home article .a-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}

.home article .a-footer .btn-more {
    font-size: 14px;
    font-weight: 300;
    color: #eee;
    padding: 0.5rem 2rem;
    background-color: #000;
    cursor: pointer;
}

.home article .a-footer .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home article .a-footer .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
}

.home article .a-footer .socials a i {
    font-size: 18px;
    color: #444;
}


.site-side {
    background-color: #fff;
    padding: 1rem;
    padding-top: 35px;
}

.site-side .title-side {
    padding: 0.5rem 0rem;
    font-size: 24px;
    color: #444;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
    position: relative;
}

.site-side .title-side::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: #111;
}

.site-side .body-side {
    width: 90%;
    margin-left: 0.5rem;
    overflow: hidden;
}

.site-side .body-side .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.site-side .body-side .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #eee;
}

.site-side .body-side .socials a i {
    font-size: 28px;
    color: #444;
}


.site-side .body-side .about-image {
    width: 100%;
}

.site-side .body-side .about-image img {
    width: 100%;
    object-fit: cover;
}

.site-side .body-side .form {
    padding: 1rem 0.25rem;
}

.site-side .body-side .form form {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #eee;
    border-radius: 1.5rem;
    padding: 0rem 1rem;
}

.site-side .body-side .form form input {
    padding: 0.75rem 0rem;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.site-side .body-side .form form i {
    font-size: 14px;
    color: #444;
}

.site-side .body-side .info {
    padding: 0.5rem 0rem;
}

.site-side .body-side .info p {
    font-size: 14px;
    color: #444;
}


.site-side .list-posts {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    overflow: hidden;
}

.site-side .list-posts .l-post {
    display: flex;
    gap: 10px;
    padding-left: 5px;
}

.site-side .list-posts .l-post .post-img {
    width: 150px;
    height: fit-content;
    overflow: hidden;
    margin-top: 0.4rem;
}

.site-side .list-posts .l-post .post-img img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.site-side .list-posts .l-post .post-details {
    width: 100%;
}

.site-side .list-posts .l-post .post-details .post-title {
    font-size: 18px;
    color: #333;
}

.site-side .list-posts .l-post .post-details p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 0.5rem;
}




.footer {
    padding: 2rem 0rem;
    padding-bottom: 0px;
    background-color: #000;
}


.footer .container .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 3rem;
    width: 100%;
    padding: 2rem 0rem;
}

.footer .container .items .item {
    width: 100%;
    overflow: hidden;
}


.footer .item .title-item {
    padding: 0.5rem 0rem;
    font-size: 24px;
    color: #ccc;
    border-bottom: 2px solid #111;
    margin-bottom: 2rem;
    position: relative;
}

.footer .item .title-item::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: #ccc;
}

.footer .item .about-item {
    display: flex;
    gap: 1rem;
}

.footer .item .about-image {
    width: 80px;
    min-width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.footer .item .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer .item .about-item .about-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #eee;
}

.footer .item .about-item .about-name {
    color: #eee;
}

.footer .item .about-item p {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #eee;
}
.footer .item .about-btn{
    display: flex;
    gap: 1rem;
    padding: 1rem  0rem;

}
.footer .item .about-btn .btn{
    padding: 0.35rem 1rem;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #444;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer .item .about-btn .btn{
    padding: 0.35rem 1rem;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #444;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.footer .item  .form {
    padding: 1rem 0.25rem;
}

.footer .item  form {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #eee;
    border-radius: 1.5rem;
    padding: 0rem 1rem;
}
.footer .item  .form input {
    padding: 0.75rem 0rem;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}
.footer .item  .form i {
    font-size: 14px;
    color: #444;
}
.footer .item  .info {
    padding: 0.5rem 0.5rem;
}
.footer .item .info p {
    font-size: 14px;
    color: #ccc;
}

.footer .item .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.25rem;
}

.footer .item  .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #777;
    border-radius: 50%;
    transition: all 1s;
}

.footer .item  .socials a i {
    font-size: 18px;
    color: #eee;
}
.footer .item  .socials a:hover {
    background-color: #fff;
}
.footer .item  .socials a:hover i {
    color: #000;
}
.footer .rights {
    padding: 0.75rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid #333;
    font-size: 14px;
    color: #ccc;
}
.footer .rights a{
    padding: 0rem 2px;
    color: #fff;
}

.btn-m {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120px; /* Set the width as per your requirement */
    height: 40px; /* Set the height as per your requirement */
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }